{% extends "app/layout.html" %}

{% block content %}

<title>Services | Sombra Landscaping</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/app/content/services.css" />

<div class="banner" id="pagebanner">
        <div class="container">
            <h1 class="pageheading">Services</h1>
            <h2>Learn More About the Services Sombra Landscaping Offers</h2>
    </div>
</div>

<section class="card-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" id="card1">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="card-title text-center">Lawn Maintenance </h3>
                        <p class="card-text text-center">Learn More About Our Lawn Maintenance Services</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card2">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="card-title text-center">Landscape Design & Installation</h3>
                        <p class="card-text text-center">Learn How We Can Help You Build Your Dream Landscape Design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" id="card3">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="card-title text-center">Landscape Lighting</h3>
                        <p class="card-text text-center">Learn How We Can Add Light To Your Property</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card4">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="card-title text-center">Fencing</h3>
                        <p class="card-text text-center">Learn About our Fencing Services</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" id="card5">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="card-title text-center">Concrete & Masonry</h3>
                        <p class="card-text text-center">Learn About How We can Help You Build Structures</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card6">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="card-title text-center">Power Washing</h3>
                        <p class="card-text text-center">Learn About How We Can Help You Clean Your Property</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div id="lawn">
            <h3><strong>Lawn Maintenance</strong></h3>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img class="llbanner top-img" src="../../static/app/images/ld1.jpg" />
                    </div>
                    <div class="col-md-6">
                        <img class="llbanner" src="../../static/app/images/ld2.jpg" />
                    </div>
                </div>
            </div>
            <div class="ll-p">
                <div class="container">
                    <p>
                        To maintain a beautiful property it is important for the lawn to be properly maintained. By having an expert landscaping company maintain your lawn, you will have beautiful, lush grass growing. 
                        At Sombra Landscaping we provide clients with regular lawn maintenance and tree trimming services to ensure that their property stay looking beautiful. Our experts at Sombra Landscaping have 
                        experience working with residential lots of all sizes. We enjoy working with regular clients and keeping their property looking beautiful for years 
                        to come. Contact a Sombra Landscaping partner to schedule a lawn maintenance service, we would love to provide you with a recurring service.
                    </p>
                </div>
            </div>
        </div>

        <div id="landscaping-design">
            <h3><strong>Landscape Design &amp; Installation</strong></h3>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img class="llbanner top-img" src="../../static/app/images/ld3.jpg" />
                        </div>
                        <div class="col-md-6">
                            <img class="llbanner" src="../../static/app/images/ld4.jpg" />
                        </div>
                    </div>
                </div>
                <div class="ll-p">
                    <div class="container">
                        <p>
                            A beautiful backyard serves as an oasis within your home where you can relax and host memorable social events. No matter how big or small your property is, a custom backyard will give your 
                            home a unique feel. In addition to benefiting your social life, a well-designed backyard boosts the overall value of your home.                 
                        </p>
                        <p>
                            At Sombra Landscaping we enjoy working with clients to build dreamscapes for their property. Whether you want to plant palm trees, build a backyard garden, or a patio, we are happy to work with 
                            you to build a beautiful backyard that you and your loved ones will enjoy for years to come. Contact a Sombra Landscaping partner to start working on building your dream backyard.
                        </p>
                    </div>
                </div>
        </div>
        <div id="lighting">
            <h3><strong>Landscape Lighting</strong></h3>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img class="llbanner top-img" src="../../static/app/images/ll1.jpg" />
                        </div>
                        <div class="col-md-6">
                            <img class="llbanner" src="../../static/app/images/ll2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="ll-p">
                    <div class="container">
                        <p>
                            Nights are a great time to spend outside, but it is difficult to walk through your property if you are unable to see any of the hazards on your property. A good landscape lighting package from Sombra 
                            Landscaping will allow you to make every step outside even better. Your home will be safer than before due to the ability of being able to see better at night and your guests will be able to easily find your home. 
                        </p>
                        <p>
                            Contact a Sombra Landscaping partner to help you with your Landscape Lighting needs. We have experience with landscape lighting for gardens, driveways, front yards, and 
                            backyards.
                        </p>
                    </div>
                </div>
        </div>
        <div id="fencing">
            <h3><strong>Fencing</strong></h3>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img class="llbanner top-img" src="../../static/app/images/f1.jpg" />
                        </div>
                        <div class="col-md-6">
                            <img class="llbanner" src="../../static/app/images/f2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="ll-p">
                    <div class="container">
                        <p>
                            Fences are important to properties due to the increased privacy and safety benefits they provide. The main benefit of fences is that they remove the ability of intruders to enter your property, keeping you and your family safe. 
                            Fences also create boundaries for your property, allowing your neighbors to know where the property boundaries are.  
                        </p>     
                        <p>
                            Thinking of building a fence to increase your privacy, safety and define your property boundaries? Contact a partner from Sombra Landscaping to help you build the ideal fence for your property. We specialize in helping our clients 
                            build beautiful fences for their property that will provide protection, security, and privacy for their property. 
                        </p>
                    </div>
                </div>
        </div>
        <div id="lighting">
            <h3><strong>Concrete &amp; Masonry</strong></h3>
                <div class="container">
                    <div class="row justify-content-center" id="cmrow">
                        <div class="col-md-6">
                            <img class="cmbanner1 top-img" src="../../static/app/images/cm1.jpg" />
                        </div>
                        <div class="col-md-6">
                            <img class="cmbanner" src="../../static/app/images/cm2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="ll-p">
                    <div class="container">
                        <p>
                            Thinking of a adding a fire pit to your property to pass the winter evenings with your friends and family? Maybe you need a sidewalk to walk through your beautiful backyard garden, or a concrete foundation for your patio. Any concrete 
                            and masonry projects you have in mind for your property Sombra Landscaping is a reliable partner you can count on. We have over 10 years of experience working on residential and commercial concrete and masonry projects. We are eager to 
                            help you complete your projects. Contact a Sombra Landscaping partner to help you build your concrete and masonry projects. 
                        </p>
                    </div>
                </div>
        </div>
        <div id="power-washing">
            <h3><strong>Power Washing</strong></h3>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img class="llbanner top-img" src="../../static/app/images/pw1.jpg" />
                        </div>
                        <div class="col-md-6">
                            <img class="llbanner" src="../../static/app/images/pw2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="ll-p">
                    <div class="container">
                        <p>
                            As homes age they start to accumulate dirt and grime, giving them a rundown look, giving your property a bad curb appeal. A power washing service from Sombra Landscaping will eliminate the accumulated dirt and grime giving your property a 
                            new look. Driveways also accumulate sediments, oils, and debris which eventually affect the surface of the driveway. Having your driveway power washed from Sombra Landscaping will remove the elements that built up on your driveway giving your property a 
                            new look and your driveway will be safe for you and your vehicles to use daily. 
                        </p>
                        <p>
                            Thinking of cleaning your driveway and increase your curb appeal, or remove dirt and grime from the walls of your property? Sombra Landscaping is a reliable partner you can count on for your power washing needs. 
                        </p>
                    </div>
                </div>
        </div>
        </div>
</section>


{% endblock %}